ion-header {
  ion-toolbar {
    --background: #ffd90f; 
    --color: #1e3a8a; 
    --border-color: #f59e0b;
    --border-width: 2px;
    --border-style: solid;
    
    ion-title {
      font-weight: bold;
      font-size: 1.3rem;
      text-align: center;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
      font-family: 'Comic Sans MS', cursive, sans-serif;
      cursor: pointer;
      &:hover {
        opacity: 0.8; 
      }
    }
  }
}

ion-header::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: linear-gradient(to bottom, rgba(0,0,0,0.1), transparent);
}